@font-face {
  font-family: __Roboto_bac15d;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/83e4d81063b4b659-s.woff2) format("woff2");
  unicode-range: U+0460-052f, U+1c80-1c88, U+20b4, U+2de0-2dff, U+a640-a69f,
    U+fe2e-fe2f;
}
@font-face {
  font-family: __Roboto_bac15d;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/bd976642b4f7fd99-s.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116;
}
@font-face {
  font-family: __Roboto_bac15d;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/de9eb3a9f0fa9e10-s.woff2) format("woff2");
  unicode-range: U+1f??;
}
@font-face {
  font-family: __Roboto_bac15d;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/44c3f6d12248be7f-s.woff2) format("woff2");
  unicode-range: U+0370-03ff;
}
@font-face {
  font-family: __Roboto_bac15d;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/71ba03c5176fbd9c-s.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01a0-01a1,
    U+01af-01b0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1ea0-1ef9, U+20ab;
}
@font-face {
  font-family: __Roboto_bac15d;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/4a8324e71b197806-s.woff2) format("woff2");
  unicode-range: U+0100-02af, U+0304, U+0308, U+0329, U+1e00-1e9f, U+1ef2-1eff,
    U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff;
}
@font-face {
  font-family: __Roboto_bac15d;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/7d8c9b0ca4a64a5a-s.p.woff2) format("woff2");
  unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da,
    U+02dc, U+0304, U+0308, U+0329, U+2000-206f, U+2074, U+20ac, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+feff, U+fffd;
}
@font-face {
  font-family: __Roboto_bac15d;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/7c53f7419436e04b-s.woff2) format("woff2");
  unicode-range: U+0460-052f, U+1c80-1c88, U+20b4, U+2de0-2dff, U+a640-a69f,
    U+fe2e-fe2f;
}
@font-face {
  font-family: __Roboto_bac15d;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/1c57ca6f5208a29b-s.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116;
}
@font-face {
  font-family: __Roboto_bac15d;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/cff529cd86cc0276-s.woff2) format("woff2");
  unicode-range: U+1f??;
}
@font-face {
  font-family: __Roboto_bac15d;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/7be645d133f3ee22-s.woff2) format("woff2");
  unicode-range: U+0370-03ff;
}
@font-face {
  font-family: __Roboto_bac15d;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/5647e4c23315a2d2-s.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01a0-01a1,
    U+01af-01b0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1ea0-1ef9, U+20ab;
}
@font-face {
  font-family: __Roboto_bac15d;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/3dbd163d3bb09d47-s.woff2) format("woff2");
  unicode-range: U+0100-02af, U+0304, U+0308, U+0329, U+1e00-1e9f, U+1ef2-1eff,
    U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff;
}
@font-face {
  font-family: __Roboto_bac15d;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/934c4b7cb736f2a3-s.p.woff2) format("woff2");
  unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da,
    U+02dc, U+0304, U+0308, U+0329, U+2000-206f, U+2074, U+20ac, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+feff, U+fffd;
}
@font-face {
  font-family: __Roboto_bac15d;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/dfa8b99978df7bbc-s.woff2) format("woff2");
  unicode-range: U+0460-052f, U+1c80-1c88, U+20b4, U+2de0-2dff, U+a640-a69f,
    U+fe2e-fe2f;
}
@font-face {
  font-family: __Roboto_bac15d;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/42d52f46a26971a3-s.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116;
}
@font-face {
  font-family: __Roboto_bac15d;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/a6d330d7873e7320-s.woff2) format("woff2");
  unicode-range: U+1f??;
}
@font-face {
  font-family: __Roboto_bac15d;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/a5b77b63ef20339c-s.woff2) format("woff2");
  unicode-range: U+0370-03ff;
}
@font-face {
  font-family: __Roboto_bac15d;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/d117eea74e01de14-s.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01a0-01a1,
    U+01af-01b0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1ea0-1ef9, U+20ab;
}
@font-face {
  font-family: __Roboto_bac15d;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/eb52b768f62eeeb4-s.woff2) format("woff2");
  unicode-range: U+0100-02af, U+0304, U+0308, U+0329, U+1e00-1e9f, U+1ef2-1eff,
    U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff;
}
@font-face {
  font-family: __Roboto_bac15d;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/627622453ef56b0d-s.p.woff2) format("woff2");
  unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da,
    U+02dc, U+0304, U+0308, U+0329, U+2000-206f, U+2074, U+20ac, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+feff, U+fffd;
}
@font-face {
  font-family: __Roboto_bac15d;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/e25729ca87cc7df9-s.woff2) format("woff2");
  unicode-range: U+0460-052f, U+1c80-1c88, U+20b4, U+2de0-2dff, U+a640-a69f,
    U+fe2e-fe2f;
}
@font-face {
  font-family: __Roboto_bac15d;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/912a9cfe43c928d9-s.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116;
}
@font-face {
  font-family: __Roboto_bac15d;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/baf12dd90520ae41-s.woff2) format("woff2");
  unicode-range: U+1f??;
}
@font-face {
  font-family: __Roboto_bac15d;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/bbdb6f0234009aba-s.woff2) format("woff2");
  unicode-range: U+0370-03ff;
}
@font-face {
  font-family: __Roboto_bac15d;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/f06116e890b3dadb-s.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01a0-01a1,
    U+01af-01b0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1ea0-1ef9, U+20ab;
}
@font-face {
  font-family: __Roboto_bac15d;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/8fb72f69fba4e3d2-s.woff2) format("woff2");
  unicode-range: U+0100-02af, U+0304, U+0308, U+0329, U+1e00-1e9f, U+1ef2-1eff,
    U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff;
}
@font-face {
  font-family: __Roboto_bac15d;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/0e4fe491bf84089c-s.p.woff2) format("woff2");
  unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da,
    U+02dc, U+0304, U+0308, U+0329, U+2000-206f, U+2074, U+20ac, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+feff, U+fffd;
}
@font-face {
  font-family: __Roboto_bac15d;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/_next/static/media/46c894be853ec49f-s.woff2) format("woff2");
  unicode-range: U+0460-052f, U+1c80-1c88, U+20b4, U+2de0-2dff, U+a640-a69f,
    U+fe2e-fe2f;
}
@font-face {
  font-family: __Roboto_bac15d;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/_next/static/media/9e48537b1b020091-s.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116;
}
@font-face {
  font-family: __Roboto_bac15d;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/_next/static/media/37b0c0a51409261e-s.woff2) format("woff2");
  unicode-range: U+1f??;
}
@font-face {
  font-family: __Roboto_bac15d;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/_next/static/media/506bd11311670951-s.woff2) format("woff2");
  unicode-range: U+0370-03ff;
}
@font-face {
  font-family: __Roboto_bac15d;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/_next/static/media/80a2a8cc25a3c264-s.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01a0-01a1,
    U+01af-01b0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1ea0-1ef9, U+20ab;
}
@font-face {
  font-family: __Roboto_bac15d;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/_next/static/media/94300924a0693016-s.woff2) format("woff2");
  unicode-range: U+0100-02af, U+0304, U+0308, U+0329, U+1e00-1e9f, U+1ef2-1eff,
    U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff;
}
@font-face {
  font-family: __Roboto_bac15d;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/_next/static/media/8db47a8bf03b7d2f-s.p.woff2) format("woff2");
  unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da,
    U+02dc, U+0304, U+0308, U+0329, U+2000-206f, U+2074, U+20ac, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+feff, U+fffd;
}
@font-face {
  font-family: __Roboto_Fallback_bac15d;
  src: local("Arial");
  ascent-override: 92.67%;
  descent-override: 24.39%;
  line-gap-override: 0%;
  size-adjust: 100.11%;
}
.__className_bac15d {
  font-family: __Roboto_bac15d, __Roboto_Fallback_bac15d;
  font-style: normal;
}

/*
! tailwindcss v3.3.2 | MIT License | https://tailwindcss.com
*/
*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}
:after,
:before {
  --tw-content: "";
}
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal;
}
body {
  margin: 0;
  line-height: inherit;
}
hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
pre,
samp {
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
button,
select {
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}
:-moz-focusring {
  outline: auto;
}
:-moz-ui-invalid {
  box-shadow: none;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
}
fieldset,
legend {
  padding: 0;
}
menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}
[role="button"],
button {
  cursor: pointer;
}
:disabled {
  cursor: default;
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle;
}
img,
video {
  max-width: 100%;
  height: auto;
}
[hidden] {
  display: none;
}
*,
:after,
:before {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
.tw-container {
  width: 100%;
}
@media (min-width: 640px) {
  .tw-container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .tw-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .tw-container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .tw-container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .tw-container {
    max-width: 1536px;
  }
}
@media (min-width: 2400px) {
  .tw-container {
    max-width: 2400px;
  }
}
.tw-absolute {
  position: absolute;
}
.tw-relative {
  position: relative;
}
.tw-bottom-0 {
  bottom: 0;
}
.tw-left-0 {
  left: 0;
}
.tw-left-1\/2 {
  left: 50%;
}
.tw-left-\[40\%\] {
  left: 40%;
}
.tw-right-0 {
  right: 0;
}
.tw-top-1\/2 {
  top: 50%;
}
.tw-top-1\/4 {
  top: 25%;
}
.tw-z-10 {
  z-index: 10;
}
.tw-z-50 {
  z-index: 50;
}
.tw-z-\[999\] {
  z-index: 999;
}
.tw-order-1 {
  order: 1;
}
.tw-order-2 {
  order: 2;
}
.tw-mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.tw-mb-4 {
  margin-bottom: 1rem;
}
.tw-mt-2 {
  margin-top: 0.5rem;
}
.tw-mt-4 {
  margin-top: 1rem;
}
.tw-flex {
  display: flex;
}
.tw-inline-flex {
  display: inline-flex;
}
.tw-grid {
  display: grid;
}
.tw-hidden {
  display: none;
}
.tw-h-10 {
  height: 2.5rem;
}
.tw-h-5 {
  height: 1.25rem;
}
.tw-h-6 {
  height: 1.5rem;
}
.tw-h-\[316px\] {
  height: 316px;
}
.tw-h-\[500px\] {
  height: 500px;
}
.tw-h-\[70px\] {
  height: 70px;
}
.tw-h-full {
  height: 100%;
}
.tw-max-h-\[250px\] {
  max-height: 250px;
}
.tw-max-h-\[300px\] {
  max-height: 300px;
}
.tw-max-h-\[680px\] {
  max-height: 680px;
}
.tw-min-h-\[300px\] {
  min-height: 300px;
}
.tw-w-10 {
  width: 2.5rem;
}
.tw-w-28 {
  width: 7rem;
}
.tw-w-5 {
  width: 1.25rem;
}
.tw-w-6 {
  width: 1.5rem;
}
.tw-w-\[70px\] {
  width: 70px;
}
.tw-w-full {
  width: 100%;
}
.tw-max-w-3xl {
  max-width: 48rem;
}
.tw-max-w-\[1000px\] {
  max-width: 1000px;
}
.tw-max-w-\[100ch\] {
  max-width: 100ch;
}
.tw-max-w-\[1180px\] {
  max-width: 1180px;
}
.tw-max-w-\[1400px\] {
  max-width: 1400px;
}
.tw-max-w-\[167px\] {
  max-width: 167px;
}
.tw-max-w-\[1800px\] {
  max-width: 1800px;
}
.tw-max-w-\[1920px\] {
  max-width: 1920px;
}
.tw-max-w-\[250px\] {
  max-width: 250px;
}
.tw-max-w-\[400px\] {
  max-width: 400px;
}
.tw-max-w-\[503px\] {
  max-width: 503px;
}
.tw-max-w-\[662px\] {
  max-width: 662px;
}
.tw-max-w-\[700px\] {
  max-width: 700px;
}
.tw-max-w-\[800px\] {
  max-width: 800px;
}
.tw-max-w-prose {
  max-width: 65ch;
}
.tw-flex-shrink-0 {
  flex-shrink: 0;
}
.tw--translate-x-1\/2 {
  --tw-translate-x: -50%;
}
.tw--translate-x-1\/2,
.tw--translate-y-1\/2 {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.tw--translate-y-1\/2 {
  --tw-translate-y: -50%;
}
.tw--translate-y-\[70\%\] {
  --tw-translate-y: -70%;
}
.tw--translate-y-\[70\%\],
.tw-transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.tw-cursor-pointer {
  cursor: pointer;
}
.tw-list-inside {
  list-style-position: inside;
}
.tw-list-decimal {
  list-style-type: decimal;
}
.tw-flex-col {
  flex-direction: column;
}
.tw-flex-wrap {
  flex-wrap: wrap;
}
.tw-items-center {
  align-items: center;
}
.tw-justify-center {
  justify-content: center;
}
.tw-justify-between {
  justify-content: space-between;
}
.tw-gap-1 {
  gap: 0.25rem;
}
.tw-gap-12 {
  gap: 3rem;
}
.tw-gap-2 {
  gap: 0.5rem;
}
.tw-gap-24 {
  gap: 6rem;
}
.tw-gap-3 {
  gap: 0.75rem;
}
.tw-gap-4 {
  gap: 1rem;
}
.tw-gap-6 {
  gap: 1.5rem;
}
.tw-gap-8 {
  gap: 2rem;
}
.tw-space-y-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}
.tw-space-y-12 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(3rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(3rem * var(--tw-space-y-reverse));
}
.tw-space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
.tw-space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}
.tw-space-y-8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}
.tw-self-start {
  align-self: flex-start;
}
.tw-overflow-hidden {
  overflow: hidden;
}
.tw-overflow-x-auto {
  overflow-x: auto;
}
.tw-break-words {
  overflow-wrap: break-word;
}
.tw-rounded-2xl {
  border-radius: 1rem;
}
.tw-rounded-3xl {
  border-radius: 1.5rem;
}
.tw-rounded-md {
  border-radius: 0.375rem;
}
.tw-rounded-xl {
  border-radius: 0.75rem;
}
.tw-rounded-t-xl {
  border-top-right-radius: 0.75rem;
}
.tw-rounded-t-xl,
.tw-rounded-tl-xl {
  border-top-left-radius: 0.75rem;
}
.tw-rounded-tr-xl {
  border-top-right-radius: 0.75rem;
}
.tw-border {
  border-width: 1px;
}
.tw-border-2 {
  border-width: 2px;
}
.tw-border-t-8 {
  border-top-width: 8px;
}
.tw-border-brandingBlue-400 {
  --tw-border-opacity: 1;
  border-color: rgb(0 83 151 / var(--tw-border-opacity));
}
.tw-border-brandingGreen-400 {
  --tw-border-opacity: 1;
  border-color: rgb(105 179 56 / var(--tw-border-opacity));
}
.tw-border-slate-100 {
  --tw-border-opacity: 1;
  border-color: rgb(241 245 249 / var(--tw-border-opacity));
}
.tw-border-white\/20 {
  border-color: hsla(0, 0%, 100%, 0.2);
}
.tw-bg-brandingBlue-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(242 245 247 / var(--tw-bg-opacity));
}
.tw-bg-brandingBlue-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(0 83 151 / var(--tw-bg-opacity));
}
.tw-bg-brandingGreen-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(105 179 56 / var(--tw-bg-opacity));
}
.tw-bg-brandingGrey-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(32 32 32 / var(--tw-bg-opacity));
}
.tw-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.tw-bg-zinc-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(244 244 245 / var(--tw-bg-opacity));
}
.tw-object-contain {
  -o-object-fit: contain;
  object-fit: contain;
}
.tw-object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}
.tw-p-2 {
  padding: 0.5rem;
}
.tw-p-4 {
  padding: 1rem;
}
.tw-px-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}
.tw-px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.tw-px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.tw-px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.tw-py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.tw-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.tw-py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.tw-py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.tw-py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.tw-pb-2 {
  padding-bottom: 0.5rem;
}
.tw-pb-4 {
  padding-bottom: 1rem;
}
.tw-pb-8 {
  padding-bottom: 2rem;
}
.tw-pt-24 {
  padding-top: 6rem;
}
.tw-pt-4 {
  padding-top: 1rem;
}
.tw-pt-6 {
  padding-top: 1.5rem;
}
.tw-pt-8 {
  padding-top: 2rem;
}
.tw-text-left {
  text-align: left;
}
.tw-text-center {
  text-align: center;
}
.tw-text-right {
  text-align: right;
}
.tw-text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.tw-text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.tw-text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.tw-text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.tw-text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.tw-font-bold {
  font-weight: 700;
}
.tw-font-light {
  font-weight: 300;
}
.tw-font-medium {
  font-weight: 500;
}
.tw-font-semibold {
  font-weight: 600;
}
.tw-uppercase {
  text-transform: uppercase;
}
.tw-capitalize {
  text-transform: capitalize;
}
.tw-italic {
  font-style: italic;
}
.tw-text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}
.tw-text-brandingBlue-400 {
  --tw-text-opacity: 1;
  color: rgb(0 83 151 / var(--tw-text-opacity));
}
.tw-text-brandingGreen-400 {
  --tw-text-opacity: 1;
  color: rgb(105 179 56 / var(--tw-text-opacity));
}
.tw-text-brandingGrey-700 {
  --tw-text-opacity: 1;
  color: rgb(32 32 32 / var(--tw-text-opacity));
}
.tw-text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}
.tw-text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.tw-underline {
  text-decoration-line: underline;
}
.tw-shadow-2xl {
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
}
.tw-shadow-2xl,
.tw-shadow-md {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.tw-shadow-md {
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
}
.tw-shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.tw-shadow-brandingGrey-700\/50 {
  --tw-shadow-color: rgba(32, 32, 32, 0.5);
  --tw-shadow: var(--tw-shadow-colored);
}
.tw-brightness-50 {
  --tw-brightness: brightness(0.5);
}
.tw-brightness-50,
.tw-brightness-\[0\.3\] {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
.tw-brightness-\[0\.3\] {
  --tw-brightness: brightness(0.3);
}
.tw-transition {
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    filter,
    backdrop-filter,
    -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
.tw-duration-300 {
  transition-duration: 0.3s;
}
.tw-ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.login-de {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition:
    opacity 0.3s,
    transform 0.3s,
    visibility 0.3s;
}
.login-de.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.tw-content-bg-blue {
  background: #202020;
  background: linear-gradient(120deg, #004176, #005397 28%);
}
.tw-content-bg-green {
  background: var(
    --accent-gradient,
    linear-gradient(77deg, #406c23 0, #68b237 28%)
  );
}
.data-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 0.75rem;
}
.data-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 0.75rem;
}
.hover\:tw-scale-105:hover {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.hover\:tw-bg-brandingGreen-400:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(105 179 56 / var(--tw-bg-opacity));
}
.hover\:tw-bg-neutral-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity));
}
.hover\:tw-text-brandingBlue-400:hover {
  --tw-text-opacity: 1;
  color: rgb(0 83 151 / var(--tw-text-opacity));
}
.hover\:tw-text-brandingGreen-400:hover {
  --tw-text-opacity: 1;
  color: rgb(105 179 56 / var(--tw-text-opacity));
}
.hover\:tw-text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
@media (min-width: 640px) {
  .sm\:tw-px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 768px) {
  .md\:tw-relative {
    position: relative;
  }
  .md\:tw-order-2 {
    order: 2;
  }
  .md\:tw-mx-0 {
    margin-left: 0;
    margin-right: 0;
  }
  .md\:tw-mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .md\:tw-mb-6 {
    margin-bottom: 1.5rem;
  }
  .md\:tw-block {
    display: block;
  }
  .md\:tw-flex {
    display: flex;
  }
  .md\:tw-hidden {
    display: none;
  }
  .md\:tw-h-\[750px\] {
    height: 750px;
  }
  .md\:tw-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .md\:tw-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .md\:tw-flex-row {
    flex-direction: row;
  }
  .md\:tw-items-start {
    align-items: flex-start;
  }
  .md\:tw-gap-12 {
    gap: 3rem;
  }
  .md\:tw-gap-20 {
    gap: 5rem;
  }
  .md\:tw-gap-4 {
    gap: 1rem;
  }
  .md\:tw-border-t-0 {
    border-top-width: 0;
  }
  .md\:tw-px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .md\:tw-pb-8 {
    padding-bottom: 2rem;
  }
  .md\:tw-text-start {
    text-align: start;
  }
  .md\:tw-text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .md\:tw-text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .md\:tw-text-5xl {
    font-size: 3rem;
    line-height: 1;
  }
  .md\:tw-text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }
  .md\:tw-text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .md\:tw-text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .md\:tw-text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  .md\:tw-brightness-75 {
    --tw-brightness: brightness(0.75);
  }
  .md\:tw-brightness-75,
  .md\:tw-brightness-\[0\.3\] {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
      var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert)
      var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  }
  .md\:tw-brightness-\[0\.3\] {
    --tw-brightness: brightness(0.3);
  }
}
@media (min-width: 1024px) {
  .lg\:tw-absolute {
    position: absolute;
  }
  .lg\:tw-top-20 {
    top: 5rem;
  }
  .lg\:tw-order-1 {
    order: 1;
  }
  .lg\:tw-mt-0 {
    margin-top: 0;
  }
  .lg\:tw-block {
    display: block;
  }
  .lg\:tw-max-h-full {
    max-height: 100%;
  }
  .lg\:tw-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .lg\:tw-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .lg\:tw-grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .lg\:tw-gap-6 {
    gap: 1.5rem;
  }
  .lg\:tw-space-y-12 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(3rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(3rem * var(--tw-space-y-reverse));
  }
  .lg\:tw-py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .lg\:tw-pt-\[20rem\] {
    padding-top: 20rem;
  }
  .lg\:tw-text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .lg\:tw-text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .lg\:tw-text-5xl {
    font-size: 3rem;
    line-height: 1;
  }
  .lg\:tw-text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
@media (min-width: 1280px) {
  .xl\:tw-pt-\[18rem\] {
    padding-top: 18rem;
  }
}
@media (min-width: 1536px) {
  .\32xl\:tw-pt-32 {
    padding-top: 8rem;
  }
}
@media (min-width: 2400px) {
  .max\:tw-mb-8 {
    margin-bottom: 2rem;
  }
}
