@tailwind base;
@tailwind components;
@tailwind utilities;

/* #left-area ul, */
/* .entry-content ul, */
/* .et-l--body ul, */
/* .et-l--footer ul, */
/* .et-l--header ul { */
/*   list-style-type: none; */
/*   padding: unset; */
/*   line-height: unset; */
/* } */

.login-de {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition:
    opacity 0.3s,
    transform 0.3s,
    visibility 0.3s;
}

.login-de.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.tw-content-bg-blue {
  background: rgb(32, 32, 32);
  background: linear-gradient(
    120deg,
    rgb(0, 65, 118) 0%,
    rgba(0, 83, 151, 1) 28%
  );
}

.tw-content-bg-green {
  background: var(
    --accent-gradient,
    linear-gradient(77deg, #406c23 0%, #68b237 28%)
  );
}

/* Targeting the last row's first cell (bottom-left corner) */
.data-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 0.75rem; /* XL border radius in TailwindCSS is 0.75rem */
}

/* Targeting the last row's last cell (bottom-right corner) */
.data-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 0.75rem;
}
