@tailwind base;
@tailwind components;
@tailwind utilities;

/* #left-area ul, */
/* .entry-content ul, */
/* .et-l--body ul, */
/* .et-l--footer ul, */
/* .et-l--header ul { */
/*   list-style-type: none; */
/*   padding: unset; */
/*   line-height: unset; */
/* } */

.tw-content-bg-blue {
  background: rgb(32, 32, 32);
  background: linear-gradient(
    120deg,
    rgb(0, 65, 118) 0%,
    rgba(0, 83, 151, 1) 28%
  );
}

.tw-content-bg-green {
  background: var(
    --accent-gradient,
    linear-gradient(77deg, #406c23 0%, #68b237 28%)
  );
}
